<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticket.name %>
</p>

<p>
  <b>Seat id seq:</b>
  <%= @ticket.seat_id_seq %>
</p>

<p>
  <b>Addres:</b>
  <%= @ticket.addres %>
</p>

<p>
  <b>Price paid:</b>
  <%= @ticket.price_paid %>
</p>

<p>
  <b>Email addres:</b>
  <%= @ticket.email_addres %>
</p>
<p>
  <b>Phone</b>
  <%= @ticket.phone %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
